# Dependencies
node_modules

# Qwik build artifacts
/dist
/build
/server
/.qwik
/tmp

# Deployment
.output
.vercel
.netlify
.wrangler

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea
.vscode
*.swp
*.swo
*~

# Testing
test-results
coverage
.nyc_output