.main__container {
  animation: dongwon-tuna 10s infinite;
  height: 100dvh;
}

.main__image {
  width: fit-content;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes dongwon-tuna {
  0% {
    filter: drop-shadow(150px 113px 75px #8f8fff) drop-shadow(-188px -90px 60px #57aaff)
      drop-shadow(150px -90px 60px #ff6c6c);
  }
  33% {
    filter: drop-shadow(150px -90px 75px #8f8fff) drop-shadow(150px 113px 60px #57aaff)
      drop-shadow(-188px -90px 60px #ff6c6c);
  }
  66% {
    filter: drop-shadow(-188px -90px 75px #8f8fff) drop-shadow(150px -90px 60px #57aaff)
      drop-shadow(150px 90px 60px #ff6c6c);
  }
  100% {
    filter: drop-shadow(150px 113px 75px #8f8fff) drop-shadow(-188px -90px 60px #57aaff)
      drop-shadow(150px -90px 60px #ff6c6c);
  }
}
