.main__container {
    animation: dongwon-tuna 20s infinite;
    height: 100dvh;
}

.main__image {
    width: fit-content;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes dongwon-tuna {
    0% {
        filter: drop-shadow(200px 150px 100px #8f8fff) drop-shadow(-250px -120px 80px #57aaff) drop-shadow(200px -120px 80px #ff6c6c);
    }
    33% {
        filter: drop-shadow(200px -120px 100px #8f8fff) drop-shadow(200px 150px 80px #57aaff) drop-shadow(-250px -120px 80px #ff6c6c);
    }
    66% {
        filter: drop-shadow(-250px -120px 100px #8f8fff) drop-shadow(200px -120px 80px #57aaff) drop-shadow(200px 120px 80px #ff6c6c);
    }
    100% {
        filter: drop-shadow(200px 150px 100px #8f8fff) drop-shadow(-250px -120px 80px #57aaff) drop-shadow(200px -120px 80px #ff6c6c);
    }
}